{% extends 'base.html.twig' %}

{% block title %}
    {{ page_name }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="title is-primary"> Mentions légales </h1>
        <div class="legal">
            
            <h2> Éditeur du site </h2>
            <p> Le site Silmarillion est édité par VAN CAMP Theotime. </p>

            <h2> Hébergement </h2>
            <p> Il est hébergé localement sur Wamp Server. </p>

            <h2> Numéro de SIRET </h2>
            <p> 775 722 572 00846 </p>

            <h2> Adresse du Siège Social </h2>
            <p> 7 rue Diderot, 62000 Arras. </p>

            <h2> Forme Juridique </h2>
            <p> Micro-entreprise. </p>

            <h2> Montant du Capital Social </h2>
            <p> 0 euros. </p>

            <h2> Contact </h2>
            <p> Pour toute question ou problème, vous pouvez nous contacter à l'adresse suivante : theotime.vancamp@viacesi.fr </p>

        </div>
    </div>
    

{% endblock %}